{% extends "base.jinja" %}

{% block style %}
{% endblock  %}

{% block content %}
    <div class="container">
        <div class="content">
            <p class="title is-5">Acerca del proyecto</p>
            <p>El presente proyecto corresponde al trabajo final de la asignatura Analítica Predictiva 2020-1S. Durante el desarrollo del mismo se contó con la ayuda de los profesores:</p>
            <ul>
                <li><a href="http://scienti.colciencias.gov.co:8081/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0000026948">Juan David Velásquez Henao</a></li>
                <li><a href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001245112">Fernán Alonso Villa Garzón</a></li>
            </ul>
            <p>El proyecto se desarolló de acuerdo a la metología <a href="https://es.wikipedia.org/wiki/Cross_Industry_Standard_Process_for_Data_Mining">CRISP-DM</a></p>

            <p class="title is-5">Acerca del grupo de trabajo</p>
            <p>El presente proyecto fue desarrollado por asistentes a la asignatura, los cuales se listan a continuación:</p>
            <ul>
                <li>Andrea Carolina Martínez López - <i>acmartinezl@unal.edu.co</i></li>
                <li>Juan Alejandro Uribe Ramírez - <i>jduriber@unal.edu.co</i></li>
                <li>Mateo Gonzalez Ocampo - <i>magonzalezoc@unal.edu.co</i></li>
                <li>Nicolás Rivera Bueno - <i>niriverabu@unal.edu.co</i></li>
            </ul>

            <p class="title is-5">Acerca de los datos</p>
            <p>Los datos procesados en el presente proyecto se encuentran abiertos al público en el portal <a href="https://www.datos.gov.co/">Datos Abiertos</a>. Otras consideraciones acerca de esta se encuentran en el siguiente <a href="./assets/MapaCovid.png" alt="Mapa Mental COVID-19">mapa mental</a>.</p>
        </div>
    </div>
{% endblock %}