  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">l
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      <b>ANALITICA PREDICTIVA 2020-1S</b>
    </a>    
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
    <a class="navbar-item" href="model.html">
            Predicciones
        </a>
        <a class="navbar-item" href="about.html">
            Info
        </a>
    </div>
  </div>
</nav>