  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">l
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      <b>ANALITICA PREDICTIVA 2020-1S</b>
    </a>    
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
        <a class="navbar-item" href="about.html">
            About
        </a>
    </div>
  </div>
</nav>