{% extends "base.jinja" %}

{% block content %}
<div class="columns has-text-centered">
  <div class="column" style="border-right: 6px solid black; padding-right: 0">
    <svg id="country"></svg>
  </div>
  <div class="column">
  <div class="columns">
    <div class="column">
      <div class="tile is-ancestor has-text-centered">
        <article class="tile is-child notification is-warning">
          <p class="title is-4">Casos reportados</p>
          <p class="subtitle" id="total">{{ data.summary.total }}</p>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="tile is-ancestor has-text-centered">
        <article class="tile is-child notification is-success">
          <p class="title is-4">Recuperados</p>
          <p class="subtitle" id="recovered">{{ data.summary.recovered }}</p>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="tile is-ancestor has-text-centered">
        <article class="tile is-child notification is-danger">
          <p class="title is-4">Fallecidos</p>
          <p class="subtitle" id="deaths">{{ data.summary.deaths }}</p>
        </article>
      </div>
    </div>
  </div>

  <h2 class="title" id="region-name">Seleccione un departamento</h2>

  <div class="columns">
    <div class="column has-text-centered">
      <canvas id="history-total"></canvas>
    </div>
  </div>
  <div class="columns">
    <div class="column has-text-centered">
      <canvas id="history-recovered"></canvas>
    </div>

    <div class="column has-text-centered">
      <canvas id="history-deaths"></canvas>
    </div>
  </div>
  <script>
    const data = {{ data }}
    const provinceData = {{ data_by_province }}
    {% include 'map.jinja' %}
    {% include 'charts.jinja' %}
  </script>
</div>
</div>


{% endblock %}