const countrySVG = document.getElementById("country")
const total = document.getElementById("total")
const recovered = document.getElementById("recovered")
const death = document.getElementById("deaths")
const regionName = document.getElementById("region-name")
const width = window.outerWidth / 2
const height = window.outerHeight
let centered;

console.log(width)

const projection = d3.geo.mercator()
  .scale(2500)
  // Center the Map in Colombia
  .center([-73, 2.5])
  .translate([width / 2, height / 2])

const path = d3.geo.path()
  .projection(projection);

// Set svg width & height
const svg = d3.select('#country')
  .attr('width', width)
  .attr('height', height);

// Add background
svg.append('rect')
  .attr('class', 'background')
  .attr('width', width)
  .attr('height', height)
  .attr('fill', 'transparent')
  .on('click', clicked);

const g = svg.append('g');

const effectLayer = g.append('g')
  .classed('effect-layer', true);

const mapLayer = g.append('g')
  .classed('map-layer', true);

const dummyText = g.append('text')
  .classed('dummy-text', true)
  .attr('x', 10)
  .attr('y', 30)
  .style('opacity', 0);

// Load map data
d3.json('https://gist.githubusercontent.com/john-guerra/43c7656821069d00dcbc/raw/3aadedf47badbdac823b00dbe259f6bc6d9e1899/colombia.geo.json', function(error, mapData) {
  var features = mapData.features;

  // Draw each province as a path
  mapLayer.selectAll('path')
      .data(features)
    .enter().append('path')
      .attr('d', path)
      .attr('vector-effect', 'non-scaling-stroke')
      .style('fill', colors.success)
      .style('stroke', '#ffffff')
      .on('mouseover', mouseover)
      .on('mouseout', mouseout)
      .on('click', clicked);
});

// When clicked, zoom in
function clicked(d) {
  let x, y, k;
  const province = d && d.properties && d.properties.NOMBRE_DPT

  // Compute centroid of the selected path
  if (d && centered !== d) {
    var centroid = path.centroid(d);
    x = centroid[0];
    y = centroid[1];
    k = 4;
    centered = d;
  } else {
    x = width / 2;
    y = height / 2;
    k = 1;
    centered = null;
  }

  // Highlight the clicked province
  mapLayer.selectAll('path')
    .style('fill', function(d) {return centered && d === centered ? colors.danger : colors.success;});

  // Zoom
  g.transition()
    .duration(750)
    .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')scale(' + k + ')translate(' + -x + ',' + -y + ')');
  
  const newData = centered ? provinceData[province] : data

  regionName.innerText = centered ? _.startCase(province.toLowerCase()) : "Seleccione un departamento"
  total.innerText = newData.summary.total;
  recovered.innerText = newData.summary.recovered;
  death.innerText = newData.summary.deaths;

  Object.keys(historyCharts).forEach(c => {
    const chart = historyCharts[c]
    chart.data.labels = newData.history.date
    chart.data.datasets[0].data = newData.history[c]
    chart.update()
  })

  Object.keys(summaryCharts).forEach(c => {
    const chart = summaryCharts[c]
    chart.data.labels = Object.keys(newData.summary[c])
    chart.data.datasets[0].data = Object.values(newData.summary[c])
    chart.update()
  })
}

function mouseover(d){
  // Highlight hovered province
  d3.select(this).style('fill', function(d){return centered && d===centered ? colors.danger : colors.warning});
}

function mouseout(d){
  // Reset province color
  mapLayer.selectAll('path')
    .style('fill', function(d){return centered && d===centered ? colors.danger : colors.success});
}