{% extends "base.jinja" %}

{% block style %}

{% endblock %}

{% block content %}
    <div class="columns">
    <div class="column is-3">
        <article class="panel is-warning">
            <p class="panel-heading">
                Top 5 ciudades
            </p>
            {% for cityData in preds.cities %}
                <a class="panel-block" href="javascript:toggleActive({{loop.index0}}, '{{cityData.Ciudad}}')">
                    <span class="panel-icon">
                        <i class="fas fa-city" aria-hidden="true"></i>
                    </span>
                    {{cityData.Ciudad}}
                </a>
            {% endfor %}
        </article>
        <div class="hero has-text-centered">
            <div class="hero-body">
                <div class="content is-fluid">
                    <h2 class="title is-5">Predicciones</h2>
                    <p>
                        Las gráficas mostradas en esta página corresponden a las predicciones del modelo para los próximos 
                        90 días en las 5 ciudades con más contagios en el país. El modelo de predicción corresponde a 
                        la integración de un modelo <a href="https://en.wikipedia.org/wiki/Autoregressive_integrated_moving_average">ARIMA</a> 
                        y un modelo <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology#The_SIR_model">SIR</a>. 
                        Las variables mostradas corresponden a aquelas del modelo SIR:
                    </p>
                    <ul>
                        <li><b>Susceptibles:</b> Aquellas personas que no se han contraído el virus, y que al tener interacción 
                        con una persona infectada, pueden pasar a ser parte de la población de infectados</li>
                        <li><b>Infectados:</b> Aquellas personas que padecen del virus y están en capacidad contagiar a las personas 
                        susceptibles, recuperarse o morir</li>
                        <li><b>Recuperados:</b> Corresponde a las personas que estuvieron infectadas en algún momento, pero se recuperaron
                        satisfactoriamente. Se supone que la población recuperada ya es inmune al virus, por lo tanto no puede volver 
                        a infectarse ni contagiar a la población susceptible.</li>
                    </ul>
                    <p>
                        Adicionalmente, se incluyo una cuarta variable que representa las personas que mueren debido al virus.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="columns">
            <div class="column">
                <canvas id="preds-s-chart"></canvas>
                <canvas id="preds-r-chart"></canvas>
            </div>
            <div class="column">
                <canvas id="preds-i-chart"></canvas>
                <canvas id="preds-d-chart"></canvas>
            </div>
        </div>
    </div>

</div>
<script>

    const options = document.getElementsByClassName("panel-block")
    const dates = {{ preds.dates }}
    const cityPreds = {{ preds.cities }}
    let activeId = 0
    let activeCity = "{{ preds.cities[0].Ciudad }}"
    options[activeId].classList.add("is-active")
    function toggleActive(i, city) {
        options[activeId].classList.remove("is-active")
        options[i].classList.add("is-active")
        activeId = i
        activeCity = city
        changeCharts(i)
    }

    {% include 'preds.jinja' %}

</script>
{% endblock %}